:root {
    --Black: #050505;
    --AlmostBlack: #121212;
    --DarkestGray: #353535;
    --DarkGray: #666666;
    --Gray: #7f7f7f;
    --LightGray: #999999;
    --AlmostWhite: #e5e5e5;
    --White: #f4f4f4;
    --Blue: #087fe7;
    --shadow1: (0, 0, 0, 0.1);
    --shadow2: (0, 0, 0, 0.2);

    --px12: 12px;
    --px13: 13px;
    --px13point5: 13.5;
    --px14: 14px;
    --px15: 15px;
    --px18: 18px;
    --px24: 24px;
    --px26: 26px;
    --px36: 36px;
    --px45: 45px;
    --px53: 53px;

    --w320: 320;
    --w400: 400;
    --w450: 450;
    --w550: 550;
    --w650: 650:
}

@font-face {
    font-family: "Inter";
    src: url(material/Inter.ttf);
}

body {
    font-family: "Inter";
}

header {
    display: flex;
    gap: 20px;
    width: 1200px;
    border-bottom: 1px solid var(--AlmostWhite);
    padding: 10px 0px;

}

#barkylogo {
    width: 100px;
}

nav {
    display: flex;
    gap: 20px;

}

a {
    text-decoration: none;
    color: var(--Black);
}

.top-menu-container {
    position: relative;
}

.top-menu-item {
    display: block;
    padding: 15px 25px;
}

.top-menu-item :hover {
    background-color: var(--LightGray);
}

nav.sub-menu {
    display: none;
    width: 100%;
    position: absolute;
    flex-direction: column;
}

a.dropdown {
    display: flex;
}

.dropdownimg {
    width: 20px;
}

.top-menu-container:hover nav.sub-menu {
    display: flex;
}


#BarkyButton {
    background-color: var(--AlmostBlack);
    color: var(--White);
    padding: 8px 12px;
    border-radius: 5px;
}


#rightside {
    flex-grow: 1;
    justify-content: flex-end;
}


main {
    width: 1000px;
    justify-self: center;
    justify-content: center;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}

#maintop {
    display: flex;
    width: 1000px;

}

#maintop-text {
    width: 500px;
}

div #maintop-img {
    width: 20px;
}

#threepeople {
    height: 200px;
}

#mainlogos {
    margin-top: 50px;
    width: 1000px;
    border-top: 1px solid var(--AlmostWhite);
    border-bottom: 1px solid var(--AlmostWhite);
    text-align: center;
    padding: 30px 0;
}

.companylogos {
    padding: 10px;
    height: 25px;
}

.in-charge {
    display: flex;
    justify-content: center;
}

.main-middle {
    width: 100%;
}

.charts {
    max-width: 100%;

#free-plan {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

#plan-list {
    margin-top: 70px;
    background-color: var(--White);
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.plan-list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--AlmostWhite);

}

#last-plan-list-item {
    border-bottom: none;
}

.checkmark {
    height: 12px;
    align-items: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.Gray-text {
    color: var(--Gray);
}

#stats-1 {
    text-align: center;
}

#stats-1-stats {
    display: flex;
    flex-basis: auto;
}

.stats-1-text {
    border-right: 1px solid var(--AlmostWhite);
    padding: 0 20px;
}

.stats-1-text .third {
    display: none;
}

.stats-1-text h4 {
    font-size: var(--px24);
    margin-bottom: 0;
}

.stats-1-text a {
    color: var(--Black);
}

#ratings-title {
    text-align: center;
    font-size: var(--px24);
    margin-top: 100px;
}

#ratings-text-n-img {
    display: flex;
}

#ratings-text-n-img h4 {
#ratings-img {
    height: 200px;
}

#ratings-numbers {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    justify-content: space-evenly;
    text-align: center;
    color: var(--DarkGray);

}

.numbers {
    font-size: var(--px53);
    margin-bottom: 0;

}

.numbertext {
    color: var(--Gray);

}

.numbersborder {
    border: 1px solid var(--White);
    align-items: center;
    height: 110px;
    margin-top: 30px
}

#last-part {
    margin-bottom: 100px;
    text-align: center;
}

footer {
    max-width: 1200px;
    display: flex;
    gap: 50px;
    border-top: 1px solid var(--AlmostWhite);
    justify-content: space-around;
}

.footer-part {
    margin-top: 100px;
    margin-bottom: 50px;
}

.footer-part p {
    color: var(--AlmostBlack);
}

.footer-link {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: var(--Gray);
}

.social-img {
    height: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    body {
        max-width: 600px;
    }

    nav {
        display: none;
    }

    #rightside img {
        display: block;
        height: 20px;
    }

    #maintop {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    main {
        width: 600px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}