:root {
    --Black: #050505;
    --AlmostBlack: #121212;
    --DarkestGray: #353535;
    --DarkGray: #666666;
    --Gray: #7f7f7f;
    --LightGray: #999999;
    --AlmostWhite: #e5e5e5;
    --White: #f4f4f4;
    --Blue: #087fe7;
    --shadow1: rgba(0, 0, 0, 0.1);
    --shadow2: rgba(0, 0, 0, 0.2);

    --px12: 12px;
    --px13: 13px;
    --px13point5: 13.5;
    --px14: 14px;
    --px15: 15px;
    --px18: 18px;
    --px24: 24px;
    --px26: 26px;
    --px36: 36px;
    --px45: 45px;
    --px53: 53px;

    --w320: 320;
    --w400: 400;
    --w450: 450;
    --w550: 550;
    --w650: 650:
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url(material/Inter.ttf);
}

body {
    font-family: "Inter";
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    gap: 20px;
    width: 98%;
    border-bottom: 1px solid var(--AlmostWhite);
    padding: 10px 0px;
    position: fixed;
    background-color: white;
}

.barkylogo {
    height: 20px;
    align-self: center;
}

nav {
    display: flex;
    gap: 5px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--Black);
    font-size: var(--px13);
    padding: 7px;
    margin: 0px 2px;
}

.top-menu-item:hover {
    background-color: var(--White);
    border-radius: 5px;
}

.BarkyButton:hover {
    background-color: var(--AlmostBlack);
}

.nedpil {
    margin-left: 3px;
}

.BarkyButton {
    background-color: var(--Black);
    color: var(--White);
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--shadow2);
    text-decoration: none;
}


#rightside {
    flex-grow: 1;
    justify-content: flex-end;
}

#hamburger {
    height: 20px;
    display: none;
}

.border {
    border: 0.5px solid var(--AlmostWhite);
    height: 20px;
}

main {
    max-width: 1000px;
    justify-content: center;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}

.Lighttext {
    color: var(--LightGray);
}

#maintop {
    display: flex;
    margin-bottom: 20px;
}

#maintop-text {
    width: 500px;
}

#maintop-text h1 {
    font-size: var(--px45);
    margin-bottom: 5px;
}

#maintop-text p {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: var(--w320);
}

div #maintop-img {
    width: 20px;
}

#threepeople {
    height: 250px;
}

#mainlogos {
    margin-top: 50px;
    border-top: 1px solid var(--AlmostWhite);
    border-bottom: 1px solid var(--AlmostWhite);
    text-align: center;
    padding: 20px 0;
}

.companylogos {
    padding: 10px;
    height: 45px;
}

.in-charge {
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-charge-face {
    height: 35px;
}

.in-charge-name {
    font-size: var(--px12);
    margin-left: 10px;
}

.in-charge-name p {
    color: var(--LightGray);
}

#main-middle-container {
    border-bottom: 1px solid var(--AlmostWhite)
}

.main-middle {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 80px;
}

.main-middle h2 {
    font-size: var(--px36);
    margin-bottom: 0;
}

.chartsover {
    width: 47%;
    margin-bottom: 40px;
    font-weight: var(--w320);
}

.charts {
    max-width: 100%;
    box-shadow: 0 0 50px var(--shadow1);
    border-radius: 5px;
}

.quote {
    font-weight: var(--w550);
    text-align: center;
}

#free-plan {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

#plan-title {
    font-size: var(--px36);
    margin-bottom: 0;
}

.plan-description {
    font-weight: var(--w320);
    line-height: 25px;
    margin-bottom: 25px;
}

#plan-list {
    margin-top: 70px;
    background-color: var(--White);
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 50px;
    width: 100%
}

.plan-list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--AlmostWhite);

}

#last-plan-list-item {
    border-bottom: none;
}

.checkmark {
    height: 17px;
    align-items: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.Gray-text {
    color: var(--Gray);
}

#stats-1 {
    text-align: center;
    border-top: 1px solid var(--AlmostWhite);
}

#stats-1-title h2 {
    font-size: var(--px36);
    margin-bottom: 0;
    margin-top: 100px;
}

#stats-1-title p {
    margin-bottom: 50px;
}

#stats-1-stats {
    display: flex;
    flex-basis: auto;
}

.stats-1-text {
    border-right: 1px solid var(--AlmostWhite);
    padding: 0 20px;
}

.third {
    border-right: none;
}

.stats-1-text h4 {
    font-size: var(--px24);
    margin-bottom: 0;
}

.stats-1-text a {
    color: var(--Black);
}

#ratings-title {
    text-align: center;
    font-size: var(--px24);
    margin-top: 100px;
}

#ratings-text-n-img {
    display: flex;
}

#ratings-text-n-img h4 {
    font-size: var(--px24);
    margin-bottom: 0;
}

span {
    text-decoration: underline;
}

#ratings-img {
    height: 200px;
}

#ratings-numbers {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    text-align: center;
    color: var(--DarkGray);

}

.numbers {
    font-size: var(--px53);
    margin-bottom: 0;

}

.numbertext {
    color: var(--Gray);

}

.numbersborder {
    border: 1px solid var(--White);
    align-items: center;
    height: 110px;
    margin-top: 30px;
}

#last-part {
    margin-bottom: 100px;
    text-align: center;
}

footer {
    max-width: 1200px;
    display: flex;
    gap: 50px;
    border-top: 1px solid var(--AlmostWhite);
    justify-content: space-around;
}

.footer-part {
    margin-top: 100px;
    margin-bottom: 50px;
}

.footer-part p {
    color: var(--AlmostBlack);
}

.footer-link {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: var(--Gray);
}

.footer-link:hover {
    text-decoration: underline;
}

.social-img {
    height: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    body {
        max-width: 600px;
    }

    header {
        position: unset;
        border-bottom: none;
    }

    #leftside {
        display: none;
    }

    #hamburger {
        display: block;
        height: 20px;
        margin-right: 5px;
        padding: 1px;
    }

    #hamburger:hover {
        background-color: var(--White);
    }

    #hide {
        display: none;
    }

    .border {
        display: none;
    }

    #maintop {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    main {
        width: 600px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
    }

    .top-menu-item {
        display: none;
    }

    .main-middle h2 {
        font-size: var(--px24);

    }

    br {
        display: none;
    }

    #stats-1-stats {
        flex-direction: column;

    }

    .stats-1-text {
        border: none;
    }

    #ratings-text-n-img {
        flex-direction: column;
    }

    .numbersborder {
        display: none;
    }

    #ratings-numbers {
        flex-direction: column;
    }


    footer {
        gap: 0px;
        flex-direction: column;
        margin: 0px;
        width: 90%;
    }

    .footer-part {
        margin-top: 50px;
        margin-bottom: 00px;
    }


    .footer-link:hover {
        text-decoration: underline;
    }
}